version: '3'

services:
  express-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: express-container
    image: express-image
    ports:
      - "3001:3001"
    environment:
      - REACT_APP_API_URL=http://express-app:3001