/* Cursor name */
.cm-editor .cm-ySelectionInfo {
  position: absolute;
  top: -1.6em;
  left: -1px;
  padding: 2px 6px;
  opacity: 0;
  color: #fff;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  z-index: 1000;
}

.cm-ySelectionInfo::hover {
  opacity: 1;
}

.cm-editor .cm-ySelectionCaretDot {
  display: none;
}

.cm-editor .cm-scroller {
  padding-top: 1.5rem;
}
